@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-wrapper{
  position: fixed;
  top: 0px;
  inset-inline-start: -300px;
  z-index: 999;
  height: 100vh;
  max-height: 100vh;
  width: 300px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-shadow: 0 0 3px rgb(60 72 88 / 0.15);
  --tw-shadow-colored: 0 0 3px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}